.project-card {
    margin: 1em 1em;
    width: 25em;
}

h2 {
    margin-top: 2em;
    text-align: center;
    justify-content: center;
}

.mat-chip {
    font-size: 0.8em;
    min-height: 24px;
}

.mat-chip::after {
    background-color: #e0e0e0;
}

.mat-chip:not(.mat-chip-disabled):active {
    box-shadow: none;
}