h2 {
    text-align: center;
    justify-content: center;
}

.container-fluid {
    padding: 2em 0 2em;
    background-color: #cccccc
}

.mat-chip::after {
    background-color: var(--indigo);
}

.mat-chip:not(.mat-chip-disabled):active {
    box-shadow: none;
}

.mat-chip-list {
    margin: 0 1em 0 1em;
}