<div class="container-fluid">
    <h2>Programming Skills</h2>
    <mat-list role="list" *ngFor="let item of skillsMap | keyvalue">
        <div class="row d-flex justify-content-center">
            <mat-list-item class="d-flex justify-content-center" 
            role="listitem">{{item.key}}</mat-list-item>
            <mat-chip-list >
                <mat-chip color="primary" selected *ngFor="let skill of item.value">
                    {{skill.subject}}
                </mat-chip>
            </mat-chip-list>
        </div>
    </mat-list>
</div>