<main role="main">
  <div class="projects-container">
    <mat-card class="project-card" *ngFor="let proj of projects">
      <mat-card-header>
        <mat-card-title>{{proj.name}}</mat-card-title>
        <mat-card-subtitle>{{proj.summary}}</mat-card-subtitle>
      </mat-card-header>
      <!--mat-card-content>
        <p></p>
      </mat-card-content-->
      <mat-card-actions (click)="onClick($event.target, proj)">
        <button value="0" *ngIf="proj.url" mat-button>See</button>
        <!-- value="1" button mat-button>Info</button-->
        <button value="2" mat-button>Source Code</button>
      </mat-card-actions>
    </mat-card>
  </div>
</main>